<%- include("layout/header", {user ,gender, username}) %>

<main>
  <section id="game-home" class='open colorbg-purple pv-40'>
    <div class="container">
      <div class="row flex h-space-between">
        <div class="col">
          <h3 class='color-white mb-10'>Start playing</h3>
          <p class='color-white title-sub  mb-20'>Choose a theme that suits you.</p>
          <div class="glider-wrapper">
            <div class="glider-contain">
              <div class="glider">
                <div class='text-center'>

                    <i role='button' data-open='game-difficulty'  class="open-game-difficulty overlay far fa-play-circle"></i>

                  <h4 class="color-black">Sport</h4>
                  <i class="mt-20 color-black fas fa-running"></i>
                </div>
                <div class='text-center'>

                    <i class="open-game-difficulty overlay far fa-play-circle"></i>

                  <h4 class="color-black">Flags</h4>
                  <i class="mt-20 color-black fas fa-flag"></i>
                </div>
                <div class='text-center'>

                    <i class="open-game-difficulty overlay far fa-play-circle"></i>

                  <h4 class="color-black">Cars</h4>
                  <i class="mt-20 color-black fas fa-car"></i>

                </div>
                <div class='text-center'>

                    <i class="open-game-difficulty overlay far fa-play-circle"></i>

                  <h4 class="color-black" >Sport</h4>
                </div>
              </div>
              <button role="button" aria-label="Previous" class="glider-prev"><i class="color-pink fas fa-caret-left"></i></button>
              <button role="button" aria-label="Next" class="glider-next"><i class="color-pink fas fas fa-caret-right"></i></button>
              <div role="tablist" class="dots"></div>
          </div>
        </div>
        </div>


        <div class="leaderboard col-5">
          <h3 class="color-white mb-20">Leaderboard</h3>

          <ul>
             <% userAll.forEach(function(user, index){ %>
               <% index++%>
               <li class='colorbg-violet p-10 flex h-space-between'>
                 <div class="flex v-center">
                   <span class='color-white'><%= index %>.</span>
                   <img class='mh-10' src='/images/<%= gender %>.png'>
                  <span class="color-white"><%= user.username %></span>
                 </div>
                 <div class="flex v-center">
                   <span class="color-white"><%= user.games > 1 ?  `${user.games} games` : `${user.games} game`%></span>
                   <span class="color-white ml-20"><%= user.points %> points</span>
                 </div>
              </li>
             <% }) %>

             <%if(rank > 6){%>
               <li class='colorbg-violet p-10 flex h-space-between'>
                 <div class="flex v-center">
                   <span class='color-white'><%= rank %>.</span>
                   <img class='mh-10' src='/images/<%= gender %>.png'>
                  <span class="color-white"><%= username %></span>
                 </div>
                 <div class="flex v-center">
                   <span class="color-white"><%= "da" %> games</span>
                   <span class="color-white ml-20"><%=  %> points</span>
                 </div>
              </li>
             <%}%>

          </ul>



        </div>
      </div>

    </div>
  </section>

  <section id="game-difficulty" class="pv-100 colorbg-purple">

    <div class="container">

      <div class="inner p-70 colorbg-purple">
        <div class="mb-50">
          <i class="color-pink fas fas fa-caret-left"></i>
          <a role='button' data-open='game-difficulty' class="close-game-difficulty color-white" href="#">
          back
          </a>
        </div>
        <div class="text-center">
          <h2 class="color-white mb-10">Choose difficulty</h2>
          <p class="title-sub color-white mb-30">Choose the difficulty of your game wisely.</p>
        </div>

        <ul class="flex h-space-around">
          <li class='easy color-white colorbg-pink flex h-center v-center d-col'>
            <h4>Easy</h4>
            <p class="title-sub">4x5</p>
          </li>
          <li class='normal color-white colorbg-pink flex h-center v-center d-col'>
            <h4>Normal</h4>
            <p class="title-sub">4x5</p>
          </li>
          <li class='hard color-white colorbg-pink flex h-center v-center d-col'>
            <h4>Hard</h4>
            <p class="title-sub">4x5</p>
          </li>

        </ul>
      </div>

    </div>
  </section>
  <section id='game-main' class='pv-60 colorbg-purple'>
    <div class="container">
      <h2 class='color-white'>game main</h2>
    </div>
  </section>





<main>
<%- include("layout/footer", {user}) %>
